* {
    box-sizing: border-box;
    font-family: "SN Pro", sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: cadetblue;
    color: white;
    padding: 15px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: lightslategray;
    height: 15vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a {
    text-decoration: none;
    background-color:lightblue;
    margin: 8px;
    padding: 5px 10px;
    border-radius: 20px;
    color: black !important;
}

nav > a:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

footer {
    background-color: lightskyblue;
    padding: 10vh;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main {
    padding: 20px;
    display: flex;
    gap: 16px;
}

article {
    background-color: lightgray;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 3;
}

section {
    background-color: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

aside {
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

li > a {
    text-decoration: none;
    color: black !important;
}

li > a:hover {
    color: darkblue !important;
    cursor: pointer;
}

p, ul, ol {
    margin: 8px 0;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    article {
        order: 1;
    }
    .left {
        order: 2;
    }

    .right {
        order: 3;
    }
}